@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/opensans-regular-webfont.woff2') format('woff2');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 600;
    font-display: swap;
    src: url('/assets/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/opensans-semibold-webfont.woff2') format('woff2');
}  