:root {
  --blue: #007bff;
  --red: #dc3545;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-main: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

ul[class], ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

a {
  background-color: transparent;
  text-decoration: none;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  display: block;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

[hidden] {
  display: none;
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 27px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 21px;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 500;
}

p {
  margin-bottom: 1rem;
}

a {
  color: var(--blue);
}

a:hover {
  text-decoration: underline;
}

.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,-webkit-box-shadow .15s ease-in-out;
}

.btn-primary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-secondary {
  background-color: #ff0000;
  border-color: #ff0000;
  color: #fff;
}

.styleGuide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  max-width: 220px;
  -ms-flex-preferred-size: 220px;
      flex-basis: 220px;
  max-height: 100vh;
  overflow-y: auto;
}

.sidebar a {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.75);
  display: block;
  padding: 8px 15px;
}

.sidebar a:hover {
  background-color: #f8f8f8;
  color: #000;
}

.sidebar h3 {
  padding: 0 15px;
}

.content {
  width: calc(100% - 230px);
  padding: 20px;
}

.content details > div {
  padding: 30px 20px;
}

.content summary {
  display: list-item;
  margin: -15px;
  padding: 15px;
  background: #f9f9f9;
  cursor: pointer;
  outline: none;
}

details[open] .content summary {
  border-bottom: 1px solid #ddd;
}

.content .spacer {
  margin-bottom: 15px;
  border: 1px solid #ddd;
  padding: 15px;
}

.content .fontSize {
  background: var(--info);
  padding: 4px 10px;
  font-size: 1rem;
  font-weight: 400;
  color: var(--white);
  letter-spacing: 1px;
  border-radius: 4px;
  display: inline-block;
  vertical-align: 5px;
}

.content .colors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.content .colors p {
  min-width: 150px;
  height: 40px;
  margin-right: 20px;
}

.content .colors .blue {
  background-color: var(--primary);
}

.content .colors .gray {
  background-color: var(--gray);
}

.content .colors .black {
  background-color: var(--gray-dark);
}
/*# sourceMappingURL=main.css.map */