:root {
  --blue: #007bff;
  --red: #dc3545;
  --white: #fff;
  --green:#28a745;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --black: #000;
  --primary: #007bff;
  --secondary: #6c757d;
  --text-color: #000;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-main: 'Open Sans',sans-serif;
  --font-family-nofont: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

ul[class], ol[class] {
  padding: 0;
  margin: 0;
  list-style: none;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

img {
  border-style: none;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

[hidden] {
  display: none;
}

body {
  margin: 0;
  font-family: var(--font-family-main);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: var(--text-color);
  background-color: var(--white);
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 400;
  font-display: swap;
  src: url("/assets/fonts/opensans-regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/opensans-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: 'Open Sans';
  font-weight: 600;
  font-display: swap;
  src: url("/assets/fonts/opensans-semibold-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/fonts/opensans-semibold-webfont.woff2") format("woff2");
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 33px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 27px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 21px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .9rem;
  font-weight: 600;
}

p {
  margin: 0 0 1rem;
}

a {
  color: var(--blue);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.order-1 {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.order-2 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.is-flex, .is-flexitem_Bottom, .card, .card-footer, .card-list-3c, .card.d-3 .is-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.is-alignCenter, .is-sb_ac, .card-footer.one {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.is-flexitem_Center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.is-spaceBw, .is-sb_ac, .card-footer.one {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.is-circle {
  border-radius: 50%;
}

.is-flexitem_Bottom {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.btn {
  font-size: 0.85rem;
  padding: 0.5rem 1rem;
  font-family: var(--font-family-main);
  display: inline-block;
  font-weight: 400;
  color: var(--text-color);
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #ddd;
  border: 1px solid transparent;
  line-height: 1.5;
  outline: none;
  border-radius: 0.25rem;
  min-width: 80px;
}

.is-flat {
  border-radius: 0;
}

.is-flat.primary {
  background-color: #1c7ed6;
  color: #ffffff;
}

.is-flat.primary:hover {
  background-color: #1769b2;
}

.is-flat.secondary {
  background-color: #dc3545;
  color: #ffffff;
}

.is-flat.secondary:hover {
  background-color: #c62232;
}

.is-flat.dark {
  background-color: #000;
  color: #ffffff;
}

.is-flat.dark:hover {
  background-color: black;
}

.is-rounded {
  border-radius: 50px;
}

.is-outline {
  background-color: transparent;
}

.is-outline.o-primary {
  color: #1c7ed6;
  border-color: #1c7ed6;
}

.is-outline.o-primary:hover {
  background-color: #1c7ed6;
  color: var(--white);
}

.is-outline.o-secondary {
  color: #dc3545;
  border-color: #dc3545;
}

.is-outline.o-secondary:hover {
  background-color: #dc3545;
  color: var(--white);
}

.is-outline.o-dark {
  color: #000;
  border-color: #000;
}

.is-outline.o-dark:hover {
  background-color: #000;
  color: var(--white);
}

.is-fullbtn {
  width: 100%;
}

.is-sbtn {
  padding: 0.25rem 0.75rem;
  font-size: 0.8rem;
}

.btn-group {
  margin-bottom: 10px;
}

.btn-group .btn {
  margin-right: 10px;
}

.btn-group .btn:last-child {
  margin-right: 0;
}

.card {
  max-width: 400px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin-bottom: 1rem;
  position: relative;
}

.card-body {
  padding: 1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.card-footer {
  padding: 1rem;
}

.card-imgFull {
  position: relative;
  min-height: 240px;
}

.card-imgFull img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.card-text {
  font-size: 14px;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 3px;
}

.card-desc {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 14px;
}

.card-img-overlay {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  padding: 1.25rem;
  z-index: 1;
}

.card-img-overlay:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  top: 0;
  left: 0;
  z-index: -1;
}

.is-ltr .card-img {
  width: 64px;
  margin-right: 15px;
  margin-bottom: 0;
}

.is-ltr .card-img.order-2 {
  margin-right: 0;
}

.is-ltr .card-img img {
  background-color: var(----secondary);
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  min-height: 64px;
  margin-top: 3px;
}

.is-ltr .card-desc {
  font-size: 13px;
}

.is-ltr .card-desc.order-1 {
  margin-right: 15px;
}

.imgMed {
  width: 80px;
  height: 80px;
  margin: 5px auto 15px;
}

.card-list-3c {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-list-3c li {
  -ms-flex-preferred-size: calc(100% / 3);
      flex-basis: calc(100% / 3);
  margin-bottom: 15px;
  font-size: 14px;
}

.card-list-3c li span {
  display: inline-block;
}

.card-list-3c li span i {
  margin-right: 5px;
}

.card.d-3 .card-title {
  font-size: 14px;
}

.card.d-3 .is-left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.card.d-3 .is-right {
  width: 100px;
  font-size: 13px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.card.d-3 .is-right > div {
  margin-right: 8px;
}

.card.d-3 .is-right > div:last-child {
  margin-right: 0;
}

.tabs label {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: block;
  padding: 1rem 2rem;
  margin-right: 0.2rem;
  cursor: pointer;
  background: #90CAF9;
  font-weight: bold;
  -webkit-transition: background ease 0.2s;
  -o-transition: background ease 0.2s;
  transition: background ease 0.2s;
}

.tabs .tab {
  -webkit-box-ordinal-group: 100;
      -ms-flex-order: 99;
          order: 99;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 100%;
  display: none;
  padding: 1rem;
  background: #fff;
}

.tabs input[type="radio"] {
  display: none;
}

.tabs input[type="radio"]:checked + label {
  background: #fff;
}

.tabs input[type="radio"]:checked + label + .tab {
  display: block;
}

@media (max-width: 45em) {
  .tabs .tab,
  .tabs label {
    -webkit-box-ordinal-group: initial;
        -ms-flex-order: initial;
            order: initial;
  }
  .tabs label {
    width: 100%;
    margin-right: 0;
    margin-top: 0.2rem;
  }
}

.isp-slidecontainer {
  width: 40px;
  position: relative;
}

.isp-slidecontainer .isp-panzoom {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 130px;
  height: 18px;
  background: gray;
  outline: none;
  opacity: 0.9;
  -webkit-transition: .2s;
  -webkit-transition: opacity .2s;
  -o-transition: opacity .2s;
  transition: opacity .2s;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  border: 1px solid gray;
  border-radius: 3px;
  position: absolute;
  left: -48px;
  top: 55px;
}

.isp-slidecontainer .isp-panzoom:hover {
  opacity: 1;
}

.isp-slidecontainer .isp-panzoom::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 24px;
  background: blue;
  cursor: pointer;
  border-radius: 3px;
}

.isp-slidecontainer .isp-panzoom::-moz-range-thumb {
  width: 40px;
  height: 24px;
  background: blue;
  cursor: pointer;
}

.isp-slidecontainer input[type=range]::-ms-thumb {
  width: 40px;
  height: 24px;
  background: blue;
  cursor: pointer;
}

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
}

.alert-primary {
  background-color: #b0d4f5;
  color: #1663a9;
  border-color: #b0d4f5;
}

.alert-danger {
  background-color: #f6cdd1;
  color: #bd2130;
  border-color: #f6cdd1;
}

.alert-success {
  background-color: #9be7ac;
  color: #1e7e34;
  border-color: #9be7ac;
}
