// Define Colors here
$alert-color: (
    "primary": #1c7ed6,
    "danger": #dc3545,
    "success": #28a745
);
.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: .25rem;
}
@each $color , $value in $alert-color {
    .alert-#{$color} {
        background-color: lighten($value,35%);
        color: darken($value,10%);
        border-color: lighten($value,35%);
    }
}

