//change variable here to reflect in css
$card-width : 400px;  // card width 
$card-padding : 1rem; // card padding
$card-box-shadow : 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); // card box shadow
$card-title-fontsize : 1rem; // card heading font size
$card-desc-fontsize : 14px; // card para graph font size
$card-img-height : 240px; // card image min height or height

.card {
    max-width: $card-width;
    box-shadow: $card-box-shadow;
    width: 100%;
    @extend .is-flex;
    flex-flow: column wrap;
    margin-bottom: 1rem;
    position: relative;
    &-body {
        padding: $card-padding;
        flex: 1 1 auto;
    }
    &-footer {
        @extend .is-flex;
        padding: $card-padding;
    }
    &-imgFull {
        position: relative;
        min-height: $card-img-height;
        img {
            @include imgFit;
        }
    }
    &-text {
        font-size: $card-desc-fontsize;
    }
    &-title {
        font-size: $card-title-fontsize;
        margin-bottom: 3px;
    }
    &-desc {
        flex: 1;
        font-size: $card-desc-fontsize;
    }
}
//for bg image
.card-img-overlay {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 1.25rem;
    z-index: 1;
    &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.24);
        top: 0;
        left: 0;
        z-index: -1;
    }
}
//for left image and right desc
.is-ltr {
    .card-img {
        width: 64px;
        margin-right: 15px;
        margin-bottom: 0;
        &.order-2 {
            margin-right: 0;
        }
        img {
            background-color: var(----secondary);
            object-fit: cover;
            width: 100%;
            min-height: 64px;
            margin-top: 3px;
        }
    }
    .card-desc {
        font-size: 13px;
        &.order-1 {
            margin-right: 15px;
        }
    }
    .card-body {
        // &:last-child p {
        //     margin-bottom: 0;
        // }
    }
}


//custom class for different cards

.imgMed {
    width: 80px;
    height: 80px;
    margin: 5px auto 15px;
}
// card footer one
.card-footer.one {
    @extend .is-sb_ac;
}


//card list one
.card-list-3c {
    @extend .is-flex;
    flex-wrap: wrap;
    li {
        flex-basis: calc(100% / 3);
        margin-bottom: 15px;
        font-size: 14px;
        span {
            display: inline-block;
            i {
                margin-right: 5px;
            }
        }
    }
}

//design 3

.card.d-3 {
    .card-title {
        font-size: 14px;
    }
    .is-left {
        flex: 1;
    }
    .is-right {
        width: 100px;
        font-size: 13px;
        @extend .is-flex;
        justify-content: flex-end;
        > div  {
            margin-right: 8px;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}