$sgh-height : 70px !default;
hr {
    border: 0;
    border-bottom: 1px solid #f3f3f3;
}
.styleGuide_header {
    border-bottom: 1px solid #ddd;
    padding: 0 15px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0,0,0,0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: $sgh-height;
    h1,a {
        color: var(--white);
    }
    a {
        border-color:inherit;
    }
}
.styleGuide {
    display: flex;
}

.sidebar {
    border-right: 1px solid rgba(0,0,0,.05);
    max-width: 220px;
    flex-basis: 220px;
    height: calc(100vh - #{$sgh-height});
    overflow-y: auto;
    position: sticky;
    top: $sgh-height;
    padding-top: 20px;
        a {
            font-size: 16px;
            color:rgba(0,0,0,.75);
            display: block;
            padding: 8px 15px;
            &:hover {
                background-color: #f3f3f3;
                color:#000;
            }
        }
    h3 {
        padding: 0 15px;
    }
}
.content {
    width: calc(100% - 230px);
    padding: 20px;
    details {
        &[open] {
                summary {
                    border-bottom: 1px solid #ddd;
                }
        }
        > div {
            padding: 30px 20px; 
        }
    }
    summary {
        display: list-item;
        margin: -15px;
        padding: 15px;
        background: #f9f9f9;
        cursor: pointer;
        outline: none;
    }
    .spacer {
        margin-bottom: 15px;
        border: 1px solid #ddd;
        padding: 15px;
    }
    .fontSize {
        background: var(--primary);
        padding: 4px 10px;
        font-size: 1rem;
        font-weight: 400;
        color: var(--white);
        letter-spacing: 1px;
        border-radius: 4px;
        display: inline-block;
        vertical-align: 5px;
    }
    .colors {
        display: flex;
        flex-wrap: wrap;
        p {
            min-width: 150px;
            height: 40px;
            margin-right: 20px;
        }
        .blue {
            background-color: var(--primary);
        }
        .gray {
            background-color: var(--gray);
        }
        .black {
            background-color: var(--gray-dark);
        }

    }
}

main {
    margin-top: $sgh-height;
}